<nav class="navbar navbar-expand-lg navbar-dark apel-nav">
  <div class="container-fluid">

    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="/logo-apel.jpg" alt="Logo APEL Sinte-Anne" class="navbar-logo me-2">
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/evenements">Événements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/volunteer">Bénévolat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
